.easy-message-tsx.toast {
    --animate-duration: 0.3s;
    @apply flex justify-center items-center  fixed px-3  left-0  right-0 z-[9999] pointer-events-none;
    .toast-content {
        @apply flex items-center px-3 py-3 text-center text-white break-words rounded-md text-sm min-w-[120px] bg-black bg-opacity-60;
        pointer-events: all;
    }
}
.easy-message-tsx.message {
    --animate-duration: 0.3s;
    @apply flex items-center justify-center fixed px-3 left-0 right-0 z-[9999] pointer-events-none;
    .message-content {
        @apply px-6 py-3 break-words text-sm  text-center flex items-center;
        pointer-events: all;
        box-shadow: var(--el-box-shadow);
        color: var(--el-text-color-primary);
        background-color: var(--el-bg-color);
        border-radius: var(--el-border-radius-base);
    }
}
.center {
    @apply top-[50%];
    transform: translateY(-50%);
}
.top {
    @apply top-4;
}
.bottom {
    @apply bottom-4;
}
